numpy
librosa
SpeechRecognition
ultralytics
pyaudio
langchain
langchain-community
huggingface_hub
text_generation
python-dotenv
streamlit
transformers
pydub
librosa
langchain-openai
cors
moviepy
torch